################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sophie/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite

*__pycache__*
characters/__pycache__*
*.idea*
